In [36]:
import pandas as pd

In [61]:
df_1 = pd.read_csv("../resources/queries_gender_annotated.csv")

In [68]:
from transformers import AutoTokenizer

# Load MiniLM tokenizer
model_name = "sentence-transformers/msmarco-MiniLM-L6-cos-v5"
tokenizer = AutoTokenizer.from_pretrained(model_name)

# Example text
text = " "

# Tokenize the text
tokens = tokenizer.tokenize(text)

# Print the tokens
print("Tokens:", tokens)

Tokens: []

In [69]:
print(tokenizer.pad_token)

[PAD]

In [66]:
b = a[:10]

NameError: name 'a' is not defined

In [29]:
pids_1 = df_1['pid'].to_list()

In [30]:
pids_2 = df_2['pid'].to_list()

In [31]:
result = [x - y for x, y in zip(qids_1, qids_2)]

In [33]:
df_2.head()

    qid  Q0      pid  rank     score  anserini  label
0  5476  Q0  1319514     1  1.000000  anserini      0
1  5476  Q0    74286     2  0.500000  anserini      0
2  5476  Q0  7702952     3  0.333333  anserini      0
3  5476  Q0  1965361     4  0.250000  anserini      1
4  5476  Q0  4613390     5  0.200000  anserini      0

In [35]:
df_2.to_csv("/home/ir-bias/Shirin/gender_disentanglement/runs/run.1765_neutral_navid_labelled_2.tsv", sep = " ", header=False, index=False)